body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
}

.section-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 82vh;
  min-height: 720px;
  padding: 80px 5% 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5a54ff;
  background-image: url('../images/Waves.svg'), -webkit-gradient(linear, left top, left bottom, from(#00171f), to(#00171f));
  background-image: url('../images/Waves.svg'), linear-gradient(180deg, #00171f, #00171f);
  background-position: 50% 111%, 0px 0px;
  background-size: contain, auto;
  background-repeat: repeat-x, repeat;
  background-attachment: scroll, scroll;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-content {
  padding: 80px 5% 0px;
}

.h2-c {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  font-family: 'Gt america trial expanded', sans-serif;
  color: #213055;
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.logo-wrap-tight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: 25px auto 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h1 {
  max-width: 900px;
  margin-top: 0px;
  margin-bottom: 14px;
  font-family: 'Gt america trial expanded', sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.container-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p1 {
  max-width: 450px;
  color: hsla(0, 0%, 97.6%, 0.84);
  font-size: 19px;
  line-height: 25px;
  text-align: center;
}

.button-standard {
  margin-left: 0px;
  padding: 15px 35px;
  border-radius: 100px;
  background-color: #fff;
  color: #007ea7;
}

.div-block-3 {
  margin-top: 25px;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  min-height: 60px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  min-height: 60px;
  padding: 8px 5%;
  background-color: transparent;
}

.button-3 {
  padding-right: 30px;
  padding-left: 30px;
  border: 2px none #3c42dd;
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: #5a54ff;
}

.nav-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Roboto;
  color: #fff;
}

.nav-link:hover {
  color: hsla(0, 0%, 100%, 0.33);
}

.container-plain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-blog {
  padding: 100px 5%;
  background-color: #e9edef;
}

.h2 {
  margin-bottom: 25px;
  font-family: 'Gt america trial expanded', sans-serif;
  color: #213055;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
}

.h2.centre {
  text-align: center;
}

.h2.centre.testimonial-white {
  color: #fff;
  font-size: 46px;
}

.container-flex-vert {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph-2 {
  max-width: 410px;
  margin-bottom: 25px;
  color: rgba(56, 69, 100, 0.87);
  font-size: 17px;
  line-height: 25px;
}

.paragraph-2.space-btm {
  margin-bottom: 25px;
}

.collection-list-wrapper {
  margin-top: 55px;
}

.blog-base-card {
  position: relative;
  min-height: 460px;
  border-radius: 4px;
  background-color: #fff;
}

.collection-item {
  width: 33%;
  margin-bottom: 25px;
}

.blog-img {
  min-height: 200px;
  margin-bottom: 7px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-title-wrap {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.section-footer {
  padding: 100px 5%;
  background-color: #00171f;
}

.colour-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #e2fbfb;
}

.colour-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #eaeefd;
}

.colour-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fceceb;
}

.h4 {
  margin-bottom: 10px;
  font-family: Roboto;
  color: #213055;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.columns {
  margin-bottom: 130px;
}

.button-content {
  margin-top: 10px;
  margin-left: 0px;
  padding: 15px 30px;
  border-radius: 100px;
  background-color: #007ea7;
  color: #fff;
}

.section-content-blue {
  padding: 80px 5%;
  background-color: #00161e;
}

.h2-c-w {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  font-family: 'Gt america trial expanded', sans-serif;
  color: #fff;
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.p1-c-w {
  display: block;
  max-width: 580px;
  margin-right: auto;
  margin-bottom: 53px;
  margin-left: auto;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  margin-right: 35px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tab-on {
  min-height: 90px;
  min-width: 200px;
  margin-bottom: 25px;
  border-radius: 8px;
  background-color: transparent;
}

.tab-on.w--current {
  min-height: 90px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.14);
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.colour-block-sml {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #e2fbfb;
}

.image-sml {
  width: 15px;
}

.paragraph-2-w {
  max-width: 410px;
  color: #fff;
  line-height: 25px;
}

.colour-block-sml-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fceceb;
}

.colour-block-sml-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #e2fbfb;
}

.feature-heading {
  margin-top: 13px;
  margin-bottom: 4px;
  color: #fff;
  font-size: 16px;
}

.paragraph-2-c {
  display: block;
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  color: rgba(56, 69, 100, 0.87);
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.columns-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-wrap-left {
  width: 15%;
  height: 100%;
}

.feature-wrap-right {
  width: 85%;
  height: 100%;
}

.section-content-grey {
  padding: 80px 5%;
  background-color: #f5f7fa;
}

.tick-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 6px 6px 13px 0 rgba(164, 174, 175, 0.17);
}

.h4-2 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: Roboto;
  color: #33475c;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.column {
  padding-top: 35px;
  padding-left: 35px;
}

.footer-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-wrap {
  display: block;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
}

.social-icons-wrap {
  float: right;
}

.footer-col-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-logo-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 35px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(155, 158, 184, 0.26);
}

.text-block-footer {
  display: inline-block;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.columns-3 {
  margin-top: 35px;
}

.sml-caption {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  font-size: 15px;
}

.footer-link {
  margin-bottom: 10px;
  margin-left: 1px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #d4d6e4;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.sml-logo {
  width: 148px;
  margin-right: 40px;
  margin-left: 40px;
}

.sml-logo.sml-2 {
  width: 110px;
  margin-right: 40px;
  margin-left: 40px;
}

.container-flex-vert-wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.testimonials-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  display: none;
  color: #fff;
}

.dropdown-toggle {
  padding-right: 20px;
}

.dropdown-list {
  min-width: 200px;
}

.dropdown-list.w--open {
  left: -211px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 600px;
  padding: 20px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.18);
}

.menu-left-50 {
  width: 50%;
}

.menu-right-50 {
  width: 50%;
  padding-left: 15px;
}

.dropdown-menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  padding: 8px 15px 9px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
}

.dropdown-menu-wrap:hover {
  background-color: #f8fbfd;
}

.dropdown-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 70%;
  background-color: #f0f4fe;
}

.dropdown-icon.icon2 {
  background-color: #f5fef0;
}

.dropdown-icon.icon3 {
  background-color: #fef0fb;
}

.dropdown-icon.icon4 {
  background-color: #fef0f1;
}

.dropdown-icon.icon5 {
  background-color: #fef0f0;
}

.dropdown-text-wrap {
  display: block;
  padding-left: 15px;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-3 {
  color: #5a54ff;
  font-size: 15px;
}

.text-block-4 {
  color: #7f7ea6;
  font-size: 14px;
}

.div-block-6 {
  position: absolute;
  left: 40%;
  top: -11px;
  right: 18px;
  width: 25px;
  height: 30px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-menu-wrap-sml {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  padding: 8px 15px 9px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
}

.dropdown-menu-wrap-sml:hover {
  background-color: #f8fbfd;
}

.dropdown-icon-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 70%;
  background-color: #f0f4fe;
}

.phone {
  width: 550px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.burger-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 6px 6px 25px 0 rgba(40, 7, 128, 0.15);
  cursor: pointer;
}

.b2-bar1 {
  width: 30px;
  height: 4px;
  background-color: #858eca;
}

.b2-middle-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b2-middle-bar-left {
  width: 50%;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #858eca;
}

.b2-middle-bar-right {
  width: 50%;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #858eca;
}

.b2-bar3 {
  width: 30px;
  height: 4px;
  background-color: #858eca;
}

.blig-title {
  margin-top: 0px;
  margin-bottom: 11px;
  font-family: Roboto;
  color: #213055;
  font-size: 18px;
  line-height: 27px;
}

.collection-list {
  width: 100%;
}

.image-11 {
  margin-right: 15px;
}

.paragraph-3 {
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.52);
}

.div-block-7 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 7px 20px 20px;
}

.read-more {
  margin-top: 10px;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 100px;
  background-color: #007ea7;
  color: #fff;
}

.slider {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.left-arrow {
  color: #000;
}

.right-arrow {
  color: #000;
}

.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-img-1 {
  width: 65px;
  height: 65px;
  margin-bottom: 25px;
  border-radius: 70%;
  background-image: url('../images/4_14.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.3);
}

.testimonial-text {
  display: inline-block;
  margin-bottom: 39px;
  color: #fff;
  text-align: center;
}

.text-span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.icon-2 {
  width: 25px;
  height: 25px;
  color: hsla(0, 0%, 100%, 0.18);
}

.profile-img-2 {
  width: 65px;
  height: 65px;
  margin-bottom: 25px;
  border-radius: 70%;
  background-image: url('../images/4_14.jpg');
  background-position: 0px 0px;
  background-size: 64px;
  box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.3);
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5a54ff;
}

.heading {
  font-family: Roboto;
  color: #fff;
  font-weight: 400;
}

.section-content-2 {
  padding: 100px 5%;
  background-color: #00161e;
}

.text-block-14 {
  color: #fff;
}

.slide-nav {
  bottom: -25px;
  padding-top: 27px;
}

.slide {
  padding-top: 31px;
  padding-bottom: 31px;
}

.flowbase-icon-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #5b3acc;
}

.flowbase-title {
  margin-bottom: 4px;
  color: #5b3acc;
  font-size: 17px;
  font-weight: 700;
}

.flowbase-author {
  display: inline-block;
  color: #9b9eb8;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.flowbase-left-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flowbase-close-card {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.43;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.flowbase-close-card:hover {
  opacity: 1;
}

.flowbase-clone-button {
  margin-right: 25px;
  padding: 15px 28px;
  border-radius: 50px;
  background-color: #5b3acc;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.flowbase-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  margin-right: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Roboto;
}

.flowbase-home-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.flowbase-tag {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 99999;
  min-width: 540px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 8px 1px 20px 0 rgba(128, 124, 142, 0.15);
}

.flowbase-product-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-2 {
  color: #007ea7;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 8px;
  color: #2e3642;
  text-align: left;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2.space-below {
  margin-bottom: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #007ea7;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.title-wrap-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.button-default {
  padding: 18px 35px;
  border-radius: 35px 0px 35px 35px;
  background-color: #007ea7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 16px;
}

.button-default:hover {
  background-color: #2e3642;
}

.service-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 60px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 14px 14px 200px 0 rgba(0, 22, 50, 0.06);
}

.service-icon {
  width: 70px;
  margin-bottom: 25px;
}

.service-card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.card-content-wrap {
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #6b539a;
  text-align: center;
}

.text-span-3 {
  color: #007ea7;
}

.heading-primary {
  max-width: 800px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Gt america trial expanded', sans-serif;
  color: #000;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.column-2 {
  width: 33%;
  padding: 10px;
}

.paragraph-4 {
  max-width: 320px;
  color: #546681;
  font-size: 17px;
  line-height: 1.4;
  text-align: left;
}

.social-link-wrap {
  display: none;
}

.footer-text {
  max-width: 320px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 17px;
  line-height: 1.4;
  text-align: left;
}

.footer-logo {
  width: 100px;
  margin-bottom: 25px;
}

.footer-column-large {
  width: 60%;
}

.footer-icon {
  margin-right: 10px;
}

.legal-text {
  color: #fff;
  font-size: 16px;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fbdee3;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.footer-link-2 {
  margin-bottom: 15px;
  margin-left: 1px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link-2:hover {
  color: #484dff;
}

.footer {
  padding: 140px 5% 20px;
  background-color: #00161e;
}

.footer-text-02 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.footer-title {
  display: inline-block;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.legal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.phone-image {
  display: block;
  margin-right: 8px;
  text-align: center;
}

.navigation-text {
  width: 100%;
  font-family: Inter, sans-serif;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-list-2 {
  background-color: transparent;
}

.dropdown-list-2.w--open {
  z-index: 7;
  min-width: 460px;
  padding-top: 15px;
  border-radius: 15px;
}

.dropdown-list-2.dropdown-smaller {
  left: -30px;
  min-width: 360px;
}

.navigation-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-navigation {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 35px 0px 35px 35px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.title-wrap-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.new-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  padding: 4px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(45, 202, 115, 0.1);
  color: #2dca73;
  font-size: 12px;
}

.navigation-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.feature-icon {
  width: 26px;
  margin-right: 16px;
}

.dropdown-list-wrap {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 15px 12px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0 rgba(44, 62, 80, 0.1);
}

.paragraph-small {
  max-width: 450px;
  margin-bottom: 0px;
  color: #3b4c5b;
  font-size: 14px;
  letter-spacing: -0.2px;
}

.container-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  min-height: 100px;
  padding: 25px 5%;
  border: 1px none #000;
  font-family: 'Gt america trial expanded', sans-serif;
  color: #fff;
}

.feature-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feature-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 12px 15px 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.feature-wrap-2:hover {
  background-color: rgba(72, 77, 255, 0.03);
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #484dff;
}

.dropdown-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.arrow-down {
  margin-right: 7px;
  margin-left: 8px;
}

.dropdown-mobile {
  display: none;
}

.mobile-button-link {
  display: none;
}

.link-block {
  text-decoration: none;
}

.logo-image {
  width: 90px;
}

.short-title {
  margin-bottom: 2px;
  color: #2e3642;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.button {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 35px 0px 35px 35px;
  background-color: #007ea7;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .section-hero {
    min-height: 813px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .section-content {
    padding-right: 2%;
    padding-left: 2%;
  }
  .logo-wrap-tight {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .collection-item {
    width: 50%;
  }
  .tabs-menu {
    margin-right: 0px;
  }
  .tab-on {
    width: 100%;
    min-height: 90px;
    margin-bottom: 15px;
  }
  .tab-on.w--current {
    width: 100%;
    margin-bottom: 15px;
  }
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .feature-block {
    margin-bottom: 40px;
  }
  .sml-logo {
    width: 130px;
    margin-bottom: 15px;
  }
  .menu-button {
    display: none;
  }
  .mobile-block {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 720px;
    padding-top: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -100vh);
    -ms-transform: translate(0px, -100vh);
    transform: translate(0px, -100vh);
  }
  .dropdown-icon-mob {
    width: 35px;
    height: 35px;
  }
  .image-9 {
    width: 50%;
  }
  .menu-text {
    margin-top: 15px;
    margin-bottom: 17px;
    color: #5a54ff;
    font-size: 16px;
    font-weight: 500;
  }
  .link-5 {
    margin-bottom: 13px;
    margin-left: 15px;
    color: #8581d1;
    text-decoration: none;
  }
  .phone {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .burger-2 {
    z-index: 999;
    background-color: transparent;
    box-shadow: none;
  }
  .b2-bar1 {
    background-color: #aaadc5;
  }
  .b2-middle-bar-left {
    background-color: #aaadc5;
  }
  .b2-middle-bar-right {
    background-color: #aaadc5;
  }
  .b2-bar3 {
    background-color: #aaadc5;
  }
  .section-content-2 {
    padding-right: 2%;
    padding-left: 2%;
  }
  .flowbase-tag {
    display: block;
    max-width: 610px;
    min-width: auto;
    margin-right: 15px;
  }
  .container-2.space-below {
    margin-bottom: 80px;
  }
  .column-2 {
    width: 100%;
  }
  .footer-column-large {
    width: 40%;
  }
  .container-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-column {
    width: 20%;
  }
  .mobiel-dropdown {
    right: 10%;
  }
  .mobiel-dropdown.w--open {
    min-width: 270px;
    margin-top: 74px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(84, 102, 129, 0.13);
  }
  .navigation-block-right {
    width: 100%;
  }
  .navigation-link-wrap {
    display: none;
  }
  .feature-icon {
    margin-bottom: 15px;
  }
  .container-navigation {
    position: relative;
    z-index: 99;
  }
  .feature-wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .dropdown-toggle-2 {
    padding: 0px;
  }
  .dropdown-link {
    width: 100%;
    min-width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #3b4c5b;
    font-size: 16px;
  }
  .dropdown-link:hover {
    background-color: rgba(115, 167, 213, 0.09);
  }
  .dropdown-link.w--current {
    color: #ff6f20;
  }
  .dropdown-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 15px;
  }
  .mobile-button-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50px;
    background-color: rgba(84, 102, 129, 0.08);
  }
}

@media screen and (max-width: 767px) {
  .section-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .logo-wrap-tight {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .h1 {
    font-size: 50px;
  }
  .container-hero {
    width: 100%;
  }
  .collection-item {
    width: 100%;
  }
  .tabs-menu {
    margin-right: 0px;
  }
  .feature-wrap {
    height: auto;
  }
  .sml-caption {
    margin-right: 0px;
    margin-bottom: 8px;
  }
  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flowbase-clone-button {
    margin-right: 15px;
  }
  .flowbase-tag {
    min-width: auto;
    margin-left: 15px;
  }
  .footer-column-large {
    width: 50%;
    margin-bottom: 25px;
  }
  .footer-column {
    width: 50%;
  }
  .phone-wrap {
    display: none;
  }
  .button-navigation {
    display: none;
  }
  .navigation-link-wrap {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    height: 82vh;
    min-height: 400px;
    padding-top: 70px;
    background-image: url('../images/Waves.svg'), -webkit-gradient(linear, left top, left bottom, from(#00171f), to(#00171f)), url('../images/photo-1506345285442-8e9a3a298cdd.jpg');
    background-image: url('../images/Waves.svg'), linear-gradient(180deg, #00171f, #00171f), url('../images/photo-1506345285442-8e9a3a298cdd.jpg');
    background-position: 50% 100%, 0px 0px, 50% 50%;
    background-size: contain, auto, cover;
    background-repeat: repeat-x, repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
  }
  .h2-c {
    margin-bottom: 59px;
    font-size: 30px;
  }
  .logo-wrap-tight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .h1 {
    max-width: 320px;
    margin-top: 34%;
    font-size: 30px;
  }
  .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .h2 {
    font-size: 30px;
  }
  .h2.centre.testimonial-white {
    font-size: 30px;
  }
  .h2-c-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 320px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 30px;
    text-align: center;
  }
  .tabs-menu {
    min-width: 250px;
    margin-right: 0px;
  }
  .feature-wrap-left {
    margin-right: 14px;
  }
  .column {
    padding-left: 0px;
  }
  .sml-logo {
    margin-bottom: 56px;
  }
  .mobile-block {
    padding-left: 15px;
  }
  .dropdown-menu-wrap-sml {
    padding-left: 5px;
  }
  .flowbase-icon-wrap {
    min-width: 60px;
  }
  .flowbase-close-card {
    top: 0px;
    right: 0px;
    bottom: auto;
  }
  .flowbase-clone-button {
    display: block;
    margin-top: 19px;
  }
  .flowbase-title-wrap {
    width: 100%;
    padding-left: 4px;
  }
  .flowbase-tag {
    display: none;
    min-width: auto;
    margin-right: 5px;
    margin-left: 5px;
  }
  .flowbase-product-wrap {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .image-12 {
    position: relative;
    left: -15px;
  }
  .title {
    max-width: 300px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    text-align: center;
  }
  .heading-primary {
    font-size: 30px;
  }
  .footer-text {
    color: #fff;
  }
  .footer-column-large {
    width: 100%;
  }
  .footer-icon {
    color: #fff;
  }
  .legal-text {
    color: #fff;
  }
  .footer-column {
    width: 100%;
  }
  .footer-link-2 {
    color: #fff;
  }
  .footer-text-02 {
    color: #fff;
  }
  .footer-title {
    color: #fff;
  }
  .phone-wrap {
    display: none;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mobile-button-link {
    background-color: #fff;
  }
  .button {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gt america trial expanded';
  src: url('../fonts/GT-America-Trial-Expanded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}